<div class="col-md-8 col-xs-8 size-16">
	<h3 class="knockLight name">{{prodName}}</h3>
	<div class="knockLight details">{{prodDetails}}</div>
	<div class="knockLight composition">{{prodDetails}}</div>
	<div class="knockLight modelDetails">{{prodDetails}}</div>
</div>
<div class="col-md-4 col-xs-4 product-slider-wrapper">
	<div id="productCarousel" class="carousel slide pull-left" data-ride="carousel" data-interval="2000">
		<!-- Slide Wrapper -->
		<div class="carousel-inner" role="listbox">
		</div>
		<!-- Slide arrows -->
		<a class="left carousel-control" href="#productCarousel" role="button" data-slide="prev">
			<img class="arrowleft" src="img/small_arrow_left.png" alt="" />
		</a>
		<a class="right carousel-control" href="#productCarousel" role="button" data-slide="next">
			<img class="arrowright" src="img/small_arrow_right.png" alt="" />
		</a>
	</div>
</div>